.song-info-container {
    margin: 16px;
}

.suggestion-grid {
    width: 60%;
}

.trends-container {
    display: flex;
}

.trends-widget {
    border: 4px solid #1976d2;
    margin: 16px;
}

.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}