<ng-container *ngIf="{
    popularSongs: popularSongs$ | async 
} as observables;" >
    <div class="card">
        <div class="title">Most Popular Songs</div>
        <p-table 
        [value]="observables.popularSongs"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Name </th>
                    <th>Artist</th>
                    <th>Album</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-song let-columns="columns">
                <tr>
                    <td>{{song.trackname}}</td>
                    <td>{{song.artistname}}</td>
                    <td>{{song.albumname}}</td>
                    <!-- <td><p-tag [value]="song.genre" [severity]="getSeverity(song.genre)"></p-tag></td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>