svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .nav-bar-buttons {
    color: white;
    text-decoration: none;
    margin: 0 16px;
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
  }